@media screen and (max-width: 1000px){
	.menu{
		display: none !important;
	}
	.hamb_menu_btn{
		display: block;
	}
	.about_wrap .photo{
		margin-bottom: 70px;
	}
	.about_wrap .short_info{
		text-align: center;
	}
}
@media screen and (max-width: 800px){
	.about_wrap .info_block:before{
		right: 10px;
		bottom: 10px;
	}
}
@media screen and (max-width: 800px){
	.header_wrap{
		min-height: 470px;
	}
	.header_wrap .header_title{
		margin-top: 140px;
		padding: 0;
		height: 100px;
		line-height: 100px;
	}
	.header_wrap .header_title h1{
		font-size: 32px;
	}
}